/*RWD*/
@media screen and (max-width:1920px) {
    html {
        width: 1920px;
        margin: 0;
    }
}

@media screen and (max-width:1280px) {
    html {
        width: 1280px;
        margin: 0;
    }
}

@media screen and (max-width:720px) {
    html {
        width: 720px;
        margin: 0;
    }
}


/*tag*/

body {
    background-image: url(../img/bg_01_Y.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    width: 100%;
    

}

/*class*/
/*id*/

#holePage {
   margin: auto;
    width: 100%;
    z-index: 10;
}
#visual {
    background: rgba(255, 255, 255,.5);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    box-shadow: 0 0 14px 6px rgba(255, 255, 255, .25), inset 0 0 14px 6px rgba(255, 255, 255, .2);
    /* transform:scale(1); */
    margin: 2%;
    padding: 2%;
    width: 90%;
    height: 560px;
}

#logo {
    width: 11%;
    height: auto;
}

#burgerList {
    width: 100px;
    margin: 1%;
}

#title {
    text-align: right;
    font-size: 48pt;
    color: rgb(47, 62, 19);


}

#titleBlock {
    width: 50%;
    position: absolute;
    margin-left: 35%;
    margin-top: 20%;
    z-index: 7;
}
#data{

    height: 560px;
    width: 100%;
    background: rgb(47, 62, 19);
    color: #90B44B;
    
}
#introduction{
    height: 560px;
    width: 100%;
    background: rgb(240,94,28);
    color: rgb(47, 62, 19);
}
#hidden {
    visibility: hidden;
}