@font-face {
    font-family: "SweiSugarJP";
    src:
      url("../font/SweiB2SugarCJKjp-Light.ttf");
      
      
  }
@font-face {
    font-family: "SairaCondensed";
    src:
      url("../font/SairaCondensed-Regular.ttf");
      unicode-range: U+0041-U+005A , U+0061-U+007A;
  }
  @font-face {
    font-family: "Yasashisa";
    src:
      url("../font/07YasashisaAntique.ttf");
      unicode-range: U+30A1-U+30FD,U+3041-U+309E;
      
  }
  [lang]:lang(ja)>body {
    font-family: "Yasashisa";
  }
  [lang]:lang(zh-TW)>body {
    font-family: "SweiSugarJP";

}
[lang]:lang(en) >body{
    font-family: "SairaCondensed";

}

/*tag*/
body {
    background-image: url(../img/bg_ex.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;



}

/*class*/
/*id*/
#holePage {
    /* margin: auto; */
}

#visual {
    background: #5e240547;
    box-shadow: 0 0 2px 2px #b7460951, inset 0 0 3px 3px rgba(165, 60, 11, 0.2);
    color: white;
    backdrop-filter: blur(3px);

}

#title {
    text-align: right;
    font-size: 48pt;
    color: rgb(50, 71, 11);
    font-weight: bold;


}

#titleBlock {
    width: 50%;
    margin-left: 35%;
    margin-top: 20%;

}

#data {
    background-color: rgba(50, 71, 11, 0.581);
    box-shadow: 0 0 2px 2px #b7460951, inset 0 0 3px 3px rgba(165, 60, 11, 0.2);
    border-radius: 50%;
    height: 540px;
    backdrop-filter: blur(3px);
}
#introduction{
    background-color: rgba(50, 71, 11, 0.581);
    box-shadow: 0 0 2px 2px #b7460951, inset 0 0 3px 3px rgba(165, 60, 11, 0.2);
    border-radius: 50%;
    height: 540px;
    backdrop-filter: blur(3px);
    color: white;
}



